//\\//\\//\\//\\ INDEX //\\//\\//\\//\\

.models
  .card
    cursor: pointer
    &-body
      padding: 0.5rem
    &-deck
      width: 70%
      margin: auto
    &-deck a:hover
      text-decoration: none
    p
      color: black
      font-size: 1.5em
      text-transform: uppercase
      text-align: center
    img
      object-fit: cover
      max-width: 300px
      height: 400px
      border-radius: 0

//\\//\\//\\//\\ SHOW //\\//\\//\\//\\

#model
  a
    color: black
    font-size: 2rem
    font-weight: bold
    margin: 15px
    padding-bottom: 15px
    cursor: pointer
    text-decoration: none
    z-index: 1
    @media all and (max-width: $phone )
      font-size: 1rem
    &:after
      @media all and (max-width: $desktop )
        content: "back"
      @media all and (max-width: $phone )
        content: ""
    svg
      margin-right: 5px
    @media all and (max-width: $phone )
      margin: 0
      position: absolute
      top: 1%
      left: 2%

  .col, .col-md-auto, .col-sm
    padding: 0
  .modal-content
    border-radius: 0
    font-family: 'Cedra4F'
  .modal-body
    padding: 0
  img
    object-fit: cover
    max-width: 500px
    //height: 500px

  content
    p
      letter-spacing: 10px
      text-transform: uppercase
      font-size: 5em
      text-align: center
      @media all and (max-width: $phone )
        font-size: 2.5em
    ul
      align-items: center
      padding: 0
      li
        font-size: 1.4em
        display: flex
        justify-content: center
        label
          margin-right: 7px

::v-deep .show-image-modal
  overflow-y: hidden
  .modal-dialog
    margin: auto
    .modal-content
      margin: auto
      width: fit-content
      .modal-body
        padding: 0
  img
    height: 100vh
