#admin_models

  .nav
    margin-bottom: 15px
    &-link.active
      background-color: black
      border-radius: 0
      color: white
      font-weight: bold
    a
      color: black

  img
    object-fit: cover
    width: 200px
    height: 300px
