.navbar
  font-family: 'Cedra4F'
  font-size: 2rem
  ul
    width: 100%
    li
      padding: 0 12px
      a:hover
        text-decoration: underline

@media all and (max-width: $phone )
  .navbar
    background-color: #000000d1
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    font-size: 1.5rem
    padding: 0
    position: fixed
    text-align: center
    top: 0
    width: 100%
    z-index: 1
  .nav-item
    a
      color: white!important

.navbar-toggler
  border: none
  color: black !important
  font-size: 27px
  position: fixed!important
  right: 1%
  top: 6px
  z-index: 1
  svg
    -webkit-filter: drop-shadow( 1px 1px 2px white )
    filter: drop-shadow( -1px 1px 2px white )
