//\\//\\//\\//\\//\\//\\//\\//\\ INDEX //\\//\\//\\//\\//\\//\\//\\
#model_forms
  button
    position: absolute
    right: 10px
    z-index: 1
    svg
      color: black
  .form-group
    margin-bottom: 0
  .col-form-label-sm
    line-height: 1 !important
  .card-group
    align-items: center
    display: flex
    flex-direction: column
    width: 100vw
    .card
      border-left: 1px solid black
      width: clamp(200px, 80%, 600px)
    label
      font-size: 1.3em
      font-weight: bold
      text-transform: uppercase
    legend
      color: #797979
  #empty
    color: lightgray
    p
      font-size: 3rem
//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\

//\\//\\//\\//\\//\\//\\//\\//\\ EDIT //\\//\\//\\//\\//\\//\\//
#model_form_modal

//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
