#home
  align-items: center
  flex-direction: column
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  height: 100%
  justify-content: center
  .logo
    font-family: 'OmniumTagline'
    font-size: 25em
    line-height: 70%
    @media all and (max-width: $phone )
      font-size: 12em
  .sublogo
    font-size: 6em
    @media all and (max-width: $phone )
      font-size: 2.2em
  .navbar
    font-size: 2rem
    @media all and (max-width: $phone )
      font-size: 2em
      margin-top: 10%
    .navbar-nav
      width: 100%
      text-align: center
      @media all and (max-width: $phone )
        flex-direction: column
        .nav-link
          padding: 0.2rem
      .nav-item
        padding: 0 12px
        a:hover
          text-decoration: underline
